DEBUG=False
SECRET_KEY=change-me-to-a-long-random-secret
DOMAIN=fokatejarat.ir
ALLOWED_HOSTS=fokatejarat.ir,www.fokatejarat.ir
USE_HTTPS=True

DB_NAME=fouka_db
DB_USER=fouka_user
DB_PASSWORD=6666
DB_HOST=db
DB_PORT=5432

# Use https:// after SSL is enabled
CORS_ALLOWED_ORIGINS=https://fokatejarat.ir
CSRF_TRUSTED_ORIGINS=https://fokatejarat.ir
